<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Welcome to REST API by Flask Python</b><br> 
    <h3>Rest API Flask</h3>
    <strong>GET</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:5000/dosen" target="_blank" rel="noopener noreferrer">/dosen</a>
    <br>
    <strong>GET</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:5000/dosen/1" target="_blank" rel="noopener noreferrer">/dosen/1</a>
    <br>
    <br>
    <img width="700" height="500" src='https://preview.redd.it/vp88fcsfcny41.png?width=1920&format=png&auto=webp&s=536e491530250b4c939fb7498bfc983d11fdc6c1'>

</body>
</html>